## Impact of redshift for the performance of each class

The best performimg model was identified as Random Forest and the best performing normlization method was identifed as the Z-Score method. Therefore, the performance for each class was determined using the Random forest algorithm and the dataset normalized using Z-Score method.

In [1]:
import pandas as pd # for Dataframe manupulation
import matplotlib.pyplot as plt #for data visualization
import seaborn as sns #for data visualization
import numpy as np # for arrays manipulation
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_curve, auc 
# to import evaluation metrices

#### Dataset without redshift

In [2]:
df_zc_wr = pd.read_csv("D:/Academic/MSc_Data_Science/Course/8.Technology Dissertation/4. Dissertation/Datasets/sgq_classification_zc_wr.csv")

In [3]:
df_zc_wr

,alpha,delta,u,g,r,i,z,class
0,-0.508038,0.012944,0.003698,0.016904,0.508349,0.681248,0.034714,0
1,0.601674,-1.131188,0.043957,0.031049,-0.081230,-0.256622,-0.011008,0
2,-0.531426,-0.692747,-0.025047,-0.036319,-1.047909,-1.087607,-0.044587,0
3,0.281333,-0.302047,-0.068321,-0.081321,-2.093371,-2.139479,-0.088413,0
4,1.735670,-0.144302,0.060813,0.086270,1.457829,1.039835,0.029384,0
...,...,...,...,...,...,...,...,...
56878,-1.786922,-1.622874,-0.001139,-0.006782,-0.138263,-0.038675,0.005947,2
56879,1.482649,-0.626891,-0.039049,-0.035248,-0.722032,-0.578660,-0.017462,2
56880,-0.439174,-0.683672,-0.051855,-0.026871,-0.135864,0.242537,0.023783,2
56881,0.446391,-1.368995,-0.066754,-0.061703,-1.356292,-1.259831,-0.044817,2
56882,1.786868,0.111298,0.054311,0.054401,0.687234,0.516732,0.020921,2

In [4]:
x = df_zc_wr.drop("class",axis='columns')
x.head()

      alpha     delta         u         g         r         i         z
0 -0.508038  0.012944  0.003698  0.016904  0.508349  0.681248  0.034714
1  0.601674 -1.131188  0.043957  0.031049 -0.081230 -0.256622 -0.011008
2 -0.531426 -0.692747 -0.025047 -0.036319 -1.047909 -1.087607 -0.044587
3  0.281333 -0.302047 -0.068321 -0.081321 -2.093371 -2.139479 -0.088413
4  1.735670 -0.144302  0.060813  0.086270  1.457829  1.039835  0.029384

In [5]:
y = df_zc_wr["class"]
y

0        0
1        0
2        0
3        0
4        0
        ..
56878    2
56879    2
56880    2
56881    2
56882    2
Name: class, Length: 56883, dtype: int64

In [6]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.1,random_state=42, stratify=y)

In [7]:
from sklearn.ensemble import RandomForestClassifier

# initializing model
model_rf = RandomForestClassifier(n_estimators=100, random_state=42)
model_rf.fit(x_train,y_train)

RandomForestClassifier(random_state=42)

In [8]:
y_pred = model_rf.predict(x_test)

In [9]:
# Evaluating the model's performance using accuracy, precision, recall and F1 Score for each class separately.
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred, average=None)
recall = recall_score(y_test, y_pred, average=None)
f1 = f1_score(y_test, y_pred, average=None)

# calculating the accuracy for each class separately.
class_accuracy = {}
for i in range(len(precision)):
    tp = sum((y_test == i) & (y_pred == i))
    tn = sum((y_test != i) & (y_pred != i))
    fp = sum((y_test != i) & (y_pred == i))
    fn = sum((y_test == i) & (y_pred != i))
    class_accuracy[i] = (tp + tn) / (tp + tn + fp + fn)

# printing the evaluation results for each class separately.
for i in range(len(precision)):
    print("Evaluation results for class", i)
    print("Accuracy:", class_accuracy[i])
    print("Precision:", precision[i])
    print("Recall:", recall[i])
    print("F1 Score:", f1[i])
    print()

Evaluation results for class 0
Accuracy: 0.9089470908771313
Precision: 0.8469284994964753
Recall: 0.8871308016877637
F1 Score: 0.8665636269963936

Evaluation results for class 1
Accuracy: 0.9029706451045878
Precision: 0.8540569020021075
Recall: 0.854957805907173
F1 Score: 0.8545071164997364

Evaluation results for class 2
Accuracy: 0.893127087361575
Precision: 0.8570637119113573
Recall: 0.8154981549815498
F1 Score: 0.8357644516477578

#### Dataset with redshift

In [10]:
df_zc_r = pd.read_csv("D:/Academic/MSc_Data_Science/Course/8.Technology Dissertation/4. Dissertation/Datasets/sgq_classification_zc_r.csv")

In [11]:
df_zc_r

,alpha,delta,u,g,r,i,z,redshift,class
0,-0.508038,0.012944,0.003698,0.016904,0.508349,0.681248,0.034714,-0.686857,0
1,0.601674,-1.131188,0.043957,0.031049,-0.081230,-0.256622,-0.011008,-0.316196,0
2,-0.531426,-0.692747,-0.025047,-0.036319,-1.047909,-1.087607,-0.044587,-0.656399,0
3,0.281333,-0.302047,-0.068321,-0.081321,-2.093371,-2.139479,-0.088413,-0.654256,0
4,1.735670,-0.144302,0.060813,0.086270,1.457829,1.039835,0.029384,-0.025330,0
...,...,...,...,...,...,...,...,...,...
56878,-1.786922,-1.622874,-0.001139,-0.006782,-0.138263,-0.038675,0.005947,-0.780359,2
56879,1.482649,-0.626891,-0.039049,-0.035248,-0.722032,-0.578660,-0.017462,-0.780346,2
56880,-0.439174,-0.683672,-0.051855,-0.026871,-0.135864,0.242537,0.023783,-0.779727,2
56881,0.446391,-1.368995,-0.066754,-0.061703,-1.356292,-1.259831,-0.044817,-0.780383,2
56882,1.786868,0.111298,0.054311,0.054401,0.687234,0.516732,0.020921,-0.779947,2

In [12]:
x = df_zc_r.drop("class",axis='columns')
x.head()

,alpha,delta,u,g,r,i,z,redshift
0,-0.508038,0.012944,0.003698,0.016904,0.508349,0.681248,0.034714,-0.686857
1,0.601674,-1.131188,0.043957,0.031049,-0.081230,-0.256622,-0.011008,-0.316196
2,-0.531426,-0.692747,-0.025047,-0.036319,-1.047909,-1.087607,-0.044587,-0.656399
3,0.281333,-0.302047,-0.068321,-0.081321,-2.093371,-2.139479,-0.088413,-0.654256
4,1.735670,-0.144302,0.060813,0.086270,1.457829,1.039835,0.029384,-0.025330

In [13]:
y = df_zc_r["class"]
y

0        0
1        0
2        0
3        0
4        0
        ..
56878    2
56879    2
56880    2
56881    2
56882    2
Name: class, Length: 56883, dtype: int64

In [14]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.1,random_state=42, stratify=y)

In [15]:
from sklearn.ensemble import RandomForestClassifier

# initializing model
model_rf = RandomForestClassifier(n_estimators=100, random_state=42)
model_rf.fit(x_train,y_train)

RandomForestClassifier(random_state=42)

In [16]:
y_pred = model_rf.predict(x_test)

In [17]:
# Evaluating the model's performance using accuracy, precision, recall and F1 Score for each class separately.
accuracy = accuracy_score(y_test, y_pred)
precision = precision_score(y_test, y_pred, average=None)
recall = recall_score(y_test, y_pred, average=None)
f1 = f1_score(y_test, y_pred, average=None)

# calculating the accuracy for each class separately.
class_accuracy = {}
for i in range(len(precision)):
    tp = sum((y_test == i) & (y_pred == i))
    tn = sum((y_test != i) & (y_pred != i))
    fp = sum((y_test != i) & (y_pred == i))
    fn = sum((y_test == i) & (y_pred != i))
    class_accuracy[i] = (tp + tn) / (tp + tn + fp + fn)

# printing the evaluation results for each class separately.
for i in range(len(precision)):
    print("Evaluation results for class", i)
    print("Accuracy:", class_accuracy[i])
    print("Precision:", precision[i])
    print("Recall:", recall[i])
    print("F1 Score:", f1[i])
    print()

Evaluation results for class 0
Accuracy: 0.9701177711372825
Precision: 0.9499478623566214
Recall: 0.9609704641350211
F1 Score: 0.9554273728369166

Evaluation results for class 1
Accuracy: 0.9732817718403938
Precision: 0.9688172043010753
Recall: 0.95042194092827
F1 Score: 0.9595314164004259

Evaluation results for class 2
Accuracy: 0.9968359992968887
Precision: 0.9916274201988488
Recall: 0.9989457037427517
F1 Score: 0.9952731092436975